In [ ]:
print('Hello World')

Hello World 7

# Section 1
## section 2
### section 3
#### section 4
##### section 5
text

# Week 1

## Set up Proportion:

$\frac{n1}{d1}=\frac{n2}{d2}$

In [ ]:
# Put a zero in for the unknow value
n1 = 1
d1 = 2
n2 = 0
d2 = 16

if n2 == 0:
  answer = d2 * n1 / d1
  print("n2 = ", answer)

if d2 == 0:
  answer = n2 * n1 / d1
  print("d2 = ", answer)

print(1+2/3+3+4/5-7)

n2 =  8.0
-1.533333333333334

## Explanation

**2/3 = 0.6666**

how ?

prove it

**Let's say:**

**x = .6666**

so we multiply both with 10

**10x = 6.666**

after multipling we subtract the original equation from the current

**10x = 6.666 - x = .6666**

**10x - x = 6.666 - .6666**

which will give us

**9x = 6**

**x = 6/9**

**x = 2/3 = 0.6666**

# Week 2

## Problem

### **001:**

x + 3 = 5

let's solve

=> x + 3 = 5

now do opposite if there is a + 3 we will add -3 on both sides

=> x +3 -3 = 5 -3

=> x = 2

### **002:**

x - 2 = 10

let's solve

=> x - 2 = 10

now do opposite if there is a - 2 we will add + 2 on both sides

=> x + 2 - 2 = 10 + 2

=> x = 12

### **003:**

3x = 12

let's solve

=> 3x = 12

now do opposite if there is a multiplier of 3 we will divide both sides by 3

=> (3x)/3 = 12/3

=> x = 4

### **004:**

x/4 = 2

let's solve

=> x/4 = 2

now do opposite if there 2 is dividing so we will multiply 2 on both sides

=> (x/4)4 = 2*4

=> x = 8

### **005:**

4x + 6 = 22

let's solve

=> 4x + 6 = 22

let's first add -6 on both sides because we have +6

=> 4x + 6 - 6 = 22 - 6

=> 4x = 16

now let's divide both side by 4 because 4 is multiplying by x

=> (4x)/4 = 16/4

=> x = 4

## Equation in Python

In [ ]:
import sympy
from sympy import symbols
from sympy.solvers import solve

x = symbols('x')

# put the equation here
eq = x - 2

print(f"x = {solve(eq, x)}")

x = [2]

## Prompt for input

In [ ]:
import sympy
from sympy import symbols
from sympy.solvers import solve

x = symbols('x')

eq = input('Enter equation: 0 = ')

print(f"x = {solve(eq, x)}")

Enter equation: 0 = 3*x-6
x = [2]

## Multi answers

In [ ]:
import sympy
from sympy import symbols
from sympy.solvers import solve

x = symbols('x')

eq = input('Enter equation: 0 = ')

solution = solve(eq, x)

for s in solution:
  print(f"x = {s}")

Enter equation: 0 = (x-1)*(x+2)*(x-3)
x = -2
x = 1
x = 3

## Solving in other ways

In [ ]:
from sympy import *

var('x y')

first = 2*x + 10

# eq1 = Eq(first, 0)
eq1 = Eq(first, y) # let's do with y instance of 0

sol = solve(eq1, x)

print(f"x = {sol[0]}")

x = y/2 - 5

## Factoring

In [ ]:
import sympy
from sympy import symbols

var('x y')

eq1 = 2*x + 10*y + 4
eq2 = x**2-4

sympy.factor(eq1) # convert this into factoring
sympy.factor(eq2) # (x - 2) (x + 2)

2*(x + 5*y + 2)

## Explaning How Each Function Work

In [ ]:
# convert string input (indluding fraction into number)
def string_frac(in_string):
  if "/" in in_string: # look if / avalible in string
    nd = in_string.split('/') # if yes we will divide the string on / (n d is nominator and denominator)
    n = float(nd[0]) # nominator
    d = float(nd[1]) # denominator
    ans = n/d # divide nominator and denominator
    return ans # return the answer
  else:
    ans = float(in_string) #convert number into float
    return ans # return the answer

# one-step multiply
def one_step_mult():
  # using string_frac(<input string>)
  import random
  a = random.randint(1, 11)
  b = random.randint(2, 24)
  print(a, "x =", b)
  ans_in = (input("x = "))
  answer = b/a

  # test
  if string_frac(ans_in) == answer:
    print("Correct!")
  else:
    print("try again")
    print("Correct answer is: ", answer)

# simplest one-step addition
def one_step_add():
  import random

  # Display Problem
  a = random.randint(-4, 10)
  b = random.randint(2, 24)
  print("x + ", a, " = ", b)
  ans = float(input("x = "))
  answer = b - a

  # Test Input
  if ans == answer:
    print("Correct!")
  else:
    print("try again")
    print("Correct answer is: ", answer)

# One-step addition with negative value
def one_step_subtract():
  import random
  a = random.randint(-19, -1)
  b = random.randint(2, 24)
  print(a, " + x =", b)
  ans = float(input("x = "))

  # test
  answer = b-a
  if ans == answer:
    print("Correct!")
  else:
    print("try again")
    print("Correct answer is: ", answer)

# Week 3

## Fraction and Decimal

- "out of" = divide
- 1/10 = 0.1 = one tenth
- 1/100 = 0.01 = one hundreth
- 0.001 = one thousand
- .234 = 234/1000
- .4 = 4/10

But what if you have a decimal like this
.3333 and it's keep repeating

so how will we do this ?

let's our value is queal to x

=> x = .3333

let's multiply it by 3

=> 10x = 3.3333

let's remove original to the updated

=> 9x = 3

=> x = 3/9

so here we found out that any number which is repeted by it's self will be divided by 9

**NOTE: a little dash on the top of number represent it's repeting**

let's try with one more example

let's say you have a value like 0.090909 and keep repeating

=> x = 0.090909

because you have 9 in tenth place so we will multiply it with 100

=> 100x = 9.090909

again divide it by original

=> 99x = 9

=> x = 9/99 or 1/11

In [ ]:
print(10**1)
print(10**2)
print(10**3)

print(10**0)

print(10**-1)
print(10**-2)
print(10**-3)

10
100
1000
1
0.1
0.01
0.001

In [ ]:
text = input("Enter a number ")
print(text)

print(len(text))

Enter a number.123
.123
4

## Cast it as a `float` or `int` variable

In [ ]:
text = input("Enter a number ")
num = float(text)

print(num + 4)

Enter a number2
6.0

## Now Put it all this together

In [ ]:
# Get string input, which will include a decimal point
digits = input("Enter a decimal number to convert: ")

# Get number of decimal as an integer
exponent = int(len(digits)) - 1

# convert the input into float number
n = float(digits)

# use the exponent to the numerator
numerator = int(n * 10**exponent)

# use the exponent to the denominator
denominator = 10**exponent

# percent is the first two decial places
percent = n * 100

# Output
print("The decimal is ", n)

print("The fraction is ", numerator, "/", denominator)

print("The percent is ", percent, "%")

Enter a decimal number to convert: .125
The decimal is  0.125
The fraction is  125 / 1000
The percent is  12.5 %

# Week4

## Functions

In Programming and Mathematics function is something which take input and do something with it

For Example:

y = 2x + 3

Let's solve with x is = 0

=> y = 2(0) + 3

=> y = 0 + 3

=> y = 3

Now let's solve x = 4

=> y = 2(4) + 3

=> y = 8 + 3

=> y = 11

In the first example you see when `x` is 0 `y` turn out to be `3` and when we change `x` to `4` so `y` become `11`

So time we use `f(x)` or `f of x`

=> f(x) = 2x + 3

let's solve again for x = 4

=> f(4) = 2(4) + 3

=> f(4) = 8 + 3

=> f(4) = 11

In [1]:
x = 5
y = 4*x + 3

print(x, ",", y)

print("x \t y")

for x in range(11):
  y = 4*x + 3
  print(x, "\t", y)

5   23
x 	 y
0 	 3
1 	 7
2 	 11
3 	 15
4 	 19
5 	 23
6 	 27
7 	 31
8 	 35
9 	 39
10 	 43

## Funtion

Defining a function in Python

In [3]:
def f(x):
  y = 4*x + 3
  return y

print(5, ",", f(5))

# Next in loop
for x in range(11):
  y = f(x)
  print(x, "\t", y)

5 , 23
0 	 3
1 	 7
2 	 11
3 	 15
4 	 19
5 	 23
6 	 27
7 	 31
8 	 35
9 	 39
10 	 43